<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 5px"
            [style.width]="getFirstProgress"
            role="progressbar"
          >
            <span class="sr-only">85% Complete (success)</span>
          </div>
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 5px"
            [style.width]="getSecondProgress"
            role="progressbar"
          >
            <span class="sr-only">85% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-counter
          (value)="firstProgress = $event"
          [value]="firstProgress"
        ></app-counter>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-counter
          (value)="secondProgress = $event"
          [value]="secondProgress"
          [btnClass]="'btn btn-info'"
        ></app-counter>
      </div>
    </div>
  </div>
</div>
