<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">Update information</h6>
        <form
          class="form p-t-20"
          [formGroup]="doctorForm"
          (ngSubmit)="saveDoctor()"
        >
          <div class="form-group" *ngIf="doctorSelected">
            <label for="exampleInputuname">Photo</label>
            <div class="input-group">
              <img
                [src]="doctorSelected.img || '' | image : 'doctors'"
                [alt]="doctorSelected.name"
                class="w-200"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputuname">Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Hospital</label>
            <div class="input-group">
              <select class="form-control" formControlName="hospital">
                <option value="">Select a hospital</option>
                <option
                  *ngFor="let hospital of hospitals"
                  [value]="hospital._id"
                >
                  {{ hospital.name }}
                </option>
              </select>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="doctorForm.invalid"
          >
            <i class="fa fa-save"></i>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col animated fadeIn fast" *ngIf="hospitalSelected">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ hospitalSelected.name }}</h6>

        <img
          [src]="hospitalSelected.img || '' | image : 'hospitals'"
          [alt]="hospitalSelected.name"
          class="img-thumbnail"
        />
      </div>
    </div>
  </div>
</div>
